{% extends 'shared/layout.html' %}

{% block maincontent %}
<div class="main-row">
    <div class="main-col">
        <img src="./../static/main/images/dan-flanagan.jpg" alt="Daniel Flanagan image">
    </div>
    <div class="main-col">
        <div class="description">
            <p> 
                <span class="inline-header">Daniel Flanagan</span>
                is a senior at Michigan State University studying Computer Science.
                He is currently employed at AlixPartners as a Database manager, and 
                has an upcoming summer internship at Walmart Global Tech as a Software
                Engineer Intern. Daniel is also a member of Tao Beta Pi, the engineering
                honor society. In his free time, Daniel enjoys playing video games, reading
                good books, watching movies with his friends, and exercising. His most recent
                hobby is his 3D printer, and he is currently teaching himself how to design
                his own models for it.
            </p>
        </div>
    </div>
</div>
<hr>
<div class="fun-fact">
    <h1>A fun fact about me:</h1>
    <p> {{fun_fact}} </p>
</div>
{% endblock %}


