{% extends 'shared/layout.html' %}

{% block maincontent %}
<div class="main-row">
    <div class="main-col">
        <img src="./../static/main/images/GradPhotoSitting.JPG" alt="Daniel Flanagan image">
    </div>
    <div class="main-col">
        <div class="description">
            <p> 
                <span class="inline-header">Daniel Flanagan</span>
                graduated from Michigan State University in December, 2024 with a B.S. 
                in Computer Science. He worked at Walmart Global Tech in Summer 2024
                as a Software Engineer Intern, and returned to Walmart Global Tech
                in February 2025 as a Software Engineer, specializing in backend Java
                development in both positions. In his free time, Daniel enjoys running,
                playing video games, and reading good books. Daniel is learning
                CAD to create his own 3D models for his 3D printer. His main project
                currently is updating his portfolio website, which you are currently viewing!
            </p>
        </div>
    </div>
</div>
<hr>
<div class="highlight">
  <h2>What I'm Learning Right Now:</h2>
  <p>{{learning_now}}</p>
</div>

{% endblock %}


